.LaborGrading {
    padding: 5%;
    /* padding-left: 20%;
    padding-right: 20%; */
    margin: auto;
    text-align: center;
    background-color: rgba(234, 234, 231, 0.801);
}

.CardTitle {
    text-align: center;
}
