.PartTime {
    padding: 5%;
    /* padding-left: 10%;
    padding-right: 10%; */
    margin: auto;
    text-align: center;
    background-color: rgba(234, 234, 231, 0.801);
}

.CardTitle {
    text-align: center;
}

.Table {
    text-align: center;
    border: 1px;
    vertical-align: middle;
}

.TableTitle {
    vertical-align: middle;
}

.TableCrossed {
    height: 50px;
    background-image: linear-gradient(to bottom left, transparent calc(50% - 1px), black, transparent calc(50% + 1px));
}

.TableLeft {
    margin: 0;
    float: left;
}

.TableRight {
    margin: 0;
    float: right;
}
